@import url('https://rsms.me/inter/inter.css');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  @import 'mixins';
  @import 'buttons';
  @import 'fields';

  .link-primary {
    @include ring-with-border;

    @apply text-blue-500;
    @apply rounded;

    &:hover {
      @apply text-blue-600;
    }
  }
}

.bx--date-picker--single {
  width: 100%;

  & > .bx--date-picker-container {
    width: 100%;

    & .bx--date-picker__input {
      width: 100%;
    }
  }
}
